/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

::-webkit-scrollbar {
    display: none;
}

.nav-bar {
    background-color: rgb(230, 233, 230);
    text-align: right;
    /* padding-right: 100px; */
}

.nav-bar ul li {
    display: inline-block;
    padding: 15px 15px;
    position: relative;
}

.nav-bar ul li a {
    color: rgb(42, 27, 27);
    text-decoration: none;
    font-size: 18px;
}

.nav-bar ul li:hover {
    background-color: rgb(196, 201, 196);
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}

.nav-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(233, 235, 233);
    /* margin-top: 15px;
      margin-left: -15px; */
}

.nav-bar ul li:hover .sub-menu-1 ul {
    display: block;
    /* margin: 10px; */
}

.nav-bar ul li:hover .sub-menu-1 ul li {
    width: 250px;
    padding: 10px;
    border-bottom: 1px solid #4c4848;
    background: transparent;
    text-align: left;
}

.nav-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}


.nav-bar ul li:hover .sub-menu-1 ul li:hover {
    color: rgb(169, 132, 84);
    background-color: #A9DFED;
    color: transparent;
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    display: block;
    position: absolute;
    margin-top: -30px;
    margin-left: 240px;
    background-color: rgb(233, 235, 233);
}

ul {
    margin: 0% 0% 0% 3%;
    padding: 1% 2% 1% 1%;
}

.Wedecore-Wedding_Designers_In_India {
    background-image: url(src/WEDDING-PLANNING-&-MANAGEMENT/Wedding-Designers-In-India/Image/Karina-Ishaan-2.jpg);
    height: 700px;
    width: 100%;
    margin-top: 4.5%;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center;
    text-align: center;
    /* filter: brightness(85%); */
    font-family: 'Raleway', sans-serif;
}


.position-3 {
    top: 85%;
    left: 60%;
    line-height: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.76);
}

.pee {
    font-size: 20px;
    width: 55%;
    text-align: center;
    /* margin: 2% 0% 0% 22%; */
    padding: 1%;
}

.slider-container {
    padding: 4%;
    /* border: 1px solid black; */
}

.Testimonials-Icon {
    height: 25px;
    width: 100px;
    /* margin: 1%; */
}

.Icon {
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/image/Flower-frame.png);
    height: 100%;
    width: 100%;
    /* padding: 2% 0% 0% 0%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foter {
    width: 1100px;
}

.Icon-Wedding_Designers_In_India {
    display: flex;
    align-items: left;
    justify-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10%;
}

.icon-container-Wedding_Designers_In_India {
    display: flex;
    color: black;
    justify-content: start;
    align-items: left;
    width: 84% !important;
    float: left;
    margin: 2% 0% 1% 0%;
}



.etc {
    padding: 2% 0% 5% 25%;
    color: rgb(79, 79, 79);
    text-align: right;
}

.Number {
    position: fixed;
    top: 50%;
}

.left-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50.5%;
    left: 5%;

}

.h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: fixed;
    color: black;
    width: 220px;
    height: 45px;
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid antiquewhite;
    margin: 0%;
    left: 5.5%;

}


.call {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 50%;
}


.left {
    height: 20px;
    width: 20px;
    rotate: 50%;
}

.icon-bar-Wedding_Designers_In_India {
    display: flex;
    padding: 1% 7%;
    float: left/2;
    /* gap: 2%; */
}

.ulockd-all-service {
    list-style-type: none;
    text-align: left;
    font-size: 16px;
}

.list-group-item {
    border: 1px solid rgb(254, 174, 163);
    margin-bottom: 2%;
    width: 325px;
}

.etca {
    text-align: center;
    padding: 2% 0% 2% 0%;
}

.peee-Wedding_Designers_In_India {
    /* float: left; */
    font-size: 16px;
    width: 90%;
    text-align: left;
    color: black;
    font-weight: 300;
}

.extra-link {
    padding-top: 1%;
}

.image-slide {
    width: 70%;
    height: 100%;
    object-fit: cover;

}